.header
  position: relative
  background-image: url(../img/image_bg.png)
  background-position: left top
  background-repeat: no-repeat
  margin-bottom: 100px
  padding-top: 10px 0 55px 0
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($bgcolor, 0.9)
  &::after 
    content: ''
    position: absolute
    bottom: -98px
    display: block
    width: 100%
    height: 109px
    background: url(../img/wave-bottom.png) calc(50% + -30px) 0 no-repeat
    transform: scaleX(-1)
.header-top
  position: relative
  display: flex
  align-items: center
  justify-content: flex-end
  margin-bottom: 10px
  padding-top: 10px
  z-index: 5
.logo
  display: flex
  margin-right: 92px
  &__name   
    display: flex
    align-items: center
    margin-left: 18px
    font-size: 22px
    font-weight: 900
    line-height: 40px
  &__link
    text-decoration: none
    color: $dark
.nav
  display: flex
  flex-wrap: wrap
  color: $grey
  font-size: 16px
  font-style: italic
  line-height: 18px
  &__item
    display: flex
    li
      position: relative
      margin-right: 77px
      list-style-type: none
      max-width: 169px
      &::before
        content: ''
        position: absolute
        width: 39px
        height: 39px
        background: url(../img/header_decor1.svg) no-repeat center/cover
        left: -29%
        top: -5%
      &:nth-child(2)
        margin-right: 30px
        &::before
          content: ''
          left: -24%
          top: -9%
          background: url(../img/header_decor2.svg) no-repeat
      &:last-of-type
        margin-right: 11px
        &::before
          content: ''
          background: url(../img/header_decor3.svg) no-repeat
.header-main
  position: relative
  display: flex
  justify-content: flex-end
  &__product
    margin-left: -20px
    margin-right: 37px
  &::after
    content: '299'
    width: 100px
    height: 40px
    color: #fff
    font-size: 34px
    line-height: 24px
    position: absolute
    background: url(../img/form-price--green.svg) no-repeat center/cover
    display: flex
    align-items: center
    text-indent: 11px
    top: 88%
    left: 30%
    z-index: 5
  &::before
    content: '299'
    width: 100px
    height: 40px
    color: #fff
    font-size: 34px
    line-height: 24px
    position: absolute
    background: url(../img/form-price--red.svg) no-repeat center/cover
    display: flex
    align-items: center
    text-indent: 11px
    top: 65%
    left: 21%
    z-index: 5
  &__product-pills 
    position: absolute
    z-index: 4
    top: 68%
    left: -8%
  &__product-box
    &__legs
      position: absolute
      z-index: 4
      top: -54%
      left: -22%
    &__img
      position: absolute
      margin-top: 75px
      left: -8%
      z-index: 1
    &__arrow
      position: absolute
      left: -13%
      top: 3%
  &__desc
    max-width: 370px
    margin-right: 35px
  &__title
    max-width: 303px
    color: $dark
    font-size: calc(26px + 22 * ((100vw - 320px) / (1920 - 320)))
    line-height: calc(22px + 20 * ((100vw - 320px) / (1920 - 320)))
    font-weight: 900  
    margin-bottom: 40px
  &__box
    position: relative
    display: flex
    align-items: center
    &:before
      content: ''
      position: absolute
      font-family: Roboto
      font-size: 20px
      font-weight: 700
      line-height: 45px
      left: 4%
    &--first
      &:before
        content: '2в1'
    &--second
      &:before
        content: '1'
        left: 25px
    &--third
      &:before
        content: '2'
        left: 25px
  &__circle
    margin-right: 1.125rem
  &__text
    position: relative
    font-size: calc(16px + 8 * ((100vw - 320px) / (1920 - 320)))
    line-height: calc(22px + 2 * ((100vw - 320px) / (1920 - 320)))
    &::before
      content: ''
      width: 9px
      height: 146px
      position: absolute
      background: url(../img/arrows.svg) no-repeat center/cover 
      left: 7%
      top: 37%
  &--size
    font-size: calc(20px + 14 * ((100vw - 320px) / (1920 - 320)))
    font-weight: 700
    line-height: 38px

.small--text
  font-size: 16px
.text--red
  border-bottom: 5px solid $red
.text--green
  border-bottom: 5px solid $green
  &--all
    font-weight: 500
    border: none
    color: $green
.text--black
  color: #000
  font-weight: 500
.text--orange
  color: $orange
